#container{
  width: 78%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}
.acceptable_value_list ul{
  list-style:none; 
  margin: 0 0 0 9px;
  padding: 0;
}
.acceptable_value_container{
  display:inline;
}
.field_acceptable_values{
  display:inline;
  float:left;
}
.acceptable_value_list{
  display:inline;
  float:left
}
hr{
  clear:both;
}
